<div class="container">
    <h1>Cadastrar Produto</h1>
    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
        <div class="mt-2">
            <div class="mt-3">
                <label class="form-label">Descrição</label>
                <input type="text" class="form-control" name="description" id="description" [(ngModel)]="model.Description">
                <label class="form-label">Price</label>
                <input type="text" class="form-control" name="description" id="description" [(ngModel)]="model.Price">
                <label class="form-label">Stock</label>
                <input type="text" class="form-control" name="description" id="description" [(ngModel)]="model.Stock">
                <label class="form-label">ImageURL</label>
                <input type="text" class="form-control" name="description" id="description" [(ngModel)]="model.ImageURL">
                <label class="form-label">category</label>
                <input type="text" class="form-control" name="description" id="description" [(ngModel)]="model.categoryId">
            </div>
        </div>
        <div class="mt-3">  
            <button type="submit" class="btn btn-primary">Salvar</button>

        </div>
    </form>
</div>
<div class="container">
    <ng-container *ngIf="categories">

          <tr *ngFor="let category of categories">
            <td>{{category.description}}</td>
          </tr>